<p><a href="{% url 'movies' %}">Back to ALL Movies</a></p> <p><a href="{% url 'genres' %}">Back to Genres</a></p>
<img src="{{ movie.poster.url }}" height="300" width="200"><br>
<p>Название:</p>
<p><font size="3" color="red" face="Arial">{{ movie.title }}</font></p>
<p>Год:</p>
<p>{{ movie.year }}</p>
<p>Рейтинг:{{movie.avg_rate}}</p>
<p>Жанр:</p>
<p>{% for genre in genres %}
{{ genre.title }}
       {% endfor %}</p>
<p><video width="1080" height="680" controls>
       <source src="{{ movie.movie.url}}" type="video/mp4">
</video></p>

<form method="POST" action="">
    <h2>Напишите отзыв!</h2>
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>
<form method="POST" action="">
    {% csrf_token %}
    {{ movie.title }}
    {{ form1 }}
    <input type="submit" value="Оценить">
</form>

<h2>Комментарии</h2>
    {% for c in comment %}
        <p>Пользователь:{{c.user}}</p>
        <p>Текст комментария:{{c.text}}</p>
        <p>Дата создания:{{c.date_created}}</p><br>
        <hr>
    {% endfor %}
    </form>
<a href="{% url 'comment' movie.id %}">Все комментарии к этому фильму</a>